@font-face
  font-family Geo
  font-style normal
  src url("~/fonts/Helvetica.ttf")

.main
  min-height 800px
  background url('~/images/bg.png') no-repeat center center
  background-size cover
  padding-top 100px
  font-family Geo
  color #fff
  & .hero div
    font-size 30px
  & .btn-signin
    background-color #b51f1f
  & .sign-in-alt span
    font-size 25px
    line-height 50px
  & .left-bar
    float none
    margin-left 40px
  & .right-bar
    float none
    margin-right 40px
  & .footer span
    line-height 40px
    font-size 20px
