.top-head
  background-color #e02e2e
  padding-bottom 20px
  padding-top 10px
  h2
    color #fff
    text-align center
    font-family 'Helvetica Neue LT Std'
    font-weight 500
    font-style normal
    font-size 24px
  a
    display block
    .icon-chevron-left
      color #fff
      font-size 22px
      margin-top 12px
      margin-bottom 10px
      float left
    .icon-refresh
      color #fff
      font-size 33px
      margin-top 12px
      margin-bottom 10px
      float right
.vid-tabs
  margin-top -1px
  .tabs-nav
    background #e02e2e
    padding 0px 10% 20px 10%
    .nav
      li:first-child
        border-radius 5px 0px 0px 5px
      li:nth-child(2)
        border-radius 0px 5px 5px 0px
      >li
        width 50%
        background #e02e2e
        color #fff
        text-align center
        border 2px solid #fff
        margin 0
        a
          color #fff
          background #e02e2e
          font-size 18px
      .active
        background-color #ffffff
        color #e02e2e        
        a,a:hover
          background-color #ffffff
          color #e02e2e
  .tabs-content
    padding 20px 0px 0 0px
    ul
      padding 0
      li
        list-style none
        float left
        width 100%
        border-bottom 1px solid #dae0e8
        margin-bottom 30px
        padding-bottom 15px
        a
          display block
          text-decoration none
          width 50%
          float left
          .icon
            padding 0
            font-size 48px
            float: left
            margin-right 15px
            margin-bottom 15px
            border-radius 50%
          .icon-chevron-right
            color #7c7c7c
            padding 0
            font-size 18px
            float left
            margin-right 15px
            margin-bottom 15px
            margin-left 10px
            margin-top 3px
          h4
            color #343434
            font-family 'Helvetica Neue LT Std'
            font-weight 500
            font-style normal
            font-size 16px
            margin-top 0
            margin-bottom 0
          small
            color #7c7c7c
            font-family 'Helvetica Neue LT Std'
            font-weight normal
            font-style normal
        a.notiflink
          float right
          width auto
          .num
            float left
            color #797979
            font-family 'Helvetica Neue LT Std'
            font-weight 500
            font-style normal
            font-size 17px
          i.fa
            color #cecece
            padding 0
            margin 5px 0 5px 10px
            font-size 12px

// ALL NETWORK
.video
  margin-bottom 30px
  border-bottom 1px solid #dae0e8
  padding 20px 10%
  .preview
    > div
      margin 0 auto
      display block
    img
      margin 0 auto
  .feature-media
    margin-top 20px
    margin-bottom 10px
    a
      display block
      text-decoration none
      text-align center
      .icon
        font-size 42px

  .social-media
    h3
      text-align left
    a
      display block
      text-decoration none
      float left
      .icon
        font-size 32px        
        margin-right 15px
        margin-bottom 15px
    .views
      color #8a8a8a
      float left
      margin-top 10px
  .dots
    .icons.icon-three-dots-v
      font-size 30px
      color #8c8c8c
      margin-top 28px
      float right
@media screen and (max-width: 768px)
  .video
    .preview
      > div
        width 100% !important
        
.btn-modal
  .modal-content
    background-color transparent
    border none
    box-shadow none
  .modal-body
    padding 0
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn
    opacity 1
  .btn
    background-color #fff
    color #9b9b9b
    margin 0
    border none
    font-size 20px
    border-bottom 1px solid #dbd8e1
    border-radius 0
    padding 15px
  .btn-primary
    color #0076ff
  .btn-danger
    color #ff0000
  .br-bot
    border-radius 0px 0px 10px 10px
    padding-bottom 15px
  .br-top
    border-radius 10px 10px 0px 0px
    padding-top 15px
  .btn-seperate
    border-radius 10px
    margin-top 10px

.subs-modal
  .modal-dialog
    background-image url('~/images/bg-blur.jpg')
    background-size cover
    background-repeat no-repeat
    padding 50px 5%
    margin 0
    width 100%
    height 100%
    text-align center
    margin 0
    .modal-content
      background transparent
      box-shadow none
      border none
      .modal-body
        color #fff
        h4
        font-size 28px
        p
          font-size: 18px
        strong
          font-size: 18px
        .btn-danger
          background-color #c02323
          border-radius 10px
          border none
          color #fff
          font-size 18px
          padding 10px
          margin-top 30px
.scan-video
  text-align center
  padding 60px 0
  .scan-button
    background-color #ea2525
    margin 40px auto 20px
    width 80%
    border-radius 50px
    padding 10px
    display block
    color #fff