.network, .add-network
  margin-top 10px
  border-bottom 1px solid #ddd
  padding-bottom 20px
  h4
    font-size 24px
    color #343434
  p
    color #7c7c7c
    font-size 16px
  .timer
    color #a7a7a7
  .icon
    font-size 62px
    margin-top 10px
    display block
    text-align center
  .network-label
    position absolute
    right 40px
    top 35%
    font-size 20px
    color #ff0000
    border none
    background none
    &:focus,
    &:active,
    &:hover
      border none
      background none
      box-shadow none
      outline none
  a
    border none
    background none
    box-shadow none
    outline none
    text-decoration none
    &:focus,
    &:active,
    &:hover
      border none
      background none
      box-shadow none
      outline none
      outline none
.add-network
  .icon
    margin-right 20px  
    float left
  p
    color #343434
    font-size 20px
    margin-top 25px
i.icons.icon-plus
  color #fff
  font-size 23px
  margin-top 22px
  margin-bottom 10px
  float right
.network-modal
  .modal-dialog
    width 80%
    margin 70px auto 0
  .modal-content
    border-radius 18px
    overflow hidden
  .modal-body
    padding 0
    .details
      padding 20px
      border-bottom 1px solid #e6e6e8
      text-align center
      color #191919
    .btn
      padding 20px 50px
      color #077df7
      font-size 22px
      width 50%
      border-radius 0px
      border none
      &:active,
      &:hover,
      &:focus
        border none
        background none
        box-shadow none
        outline none
    .btn-close
      border-right 1px solid #e6e6e8
    .btn
      a
        text-decoration none
.network-added
  text-align center
  background-color #e02e2e
  padding 100px 0
  h4
    font-size 22px
    color #fff
  p
    font-size 17px
    color #fff
  .btn-ok
    background-color #fff
    color  #e02e2e
    border-radius 30px
    padding 13px 60px
    width 270px
    display block
    margin 0 auto
    font-size 22px