.pd-0
  padding 0
.pt-20
  padding-top 20px

.mb-30
  margin-bottom 30px

.mb-50
  margin-bottom 50px

.p-0
  padding 0
.p-10
  padding 0 10px

.text-center
  text-align center

.sync-input
  text-align center
  border-radius 50px
  padding-top 10px
  padding-bottom 10px
  width 80%
  font-size 20px
  background rgba(255,255,255,0.1)
  opacity 10%
  color #fff
  font-family Geo

.modal-dialog
  position relative
  width 80%
  margin 30px auto

[class*="icon-fb"]
  color #4C76BE

[class*="icon-youtube"]
  color #fd3832

[class*="icon-twitter"]
  color #00C7FF

[class*="icon-vimeo"]
  color #23B6EA

[class*="icon-synctube"]
  color #EE2525